env/
data/
checkpoints/
predictions/
.vscode/
builder/__pycache__/
config/__pycache__/
dataloader/__pycache__/
network/__pycache__/
utils/__pycache__/

*.bin
*.label
*.npy
*.pt
*.txt
*.pyc
*.png
*.pcd
*.csv
*.json
*.pyc
*.nbi
*.nbc